<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://java.sun.com/xml/ns/javaee"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
      version="3.0">

<servlet>
	<servlet-name>Inicio</servlet-name>
	<servlet-class>org.example.webapp.ExampleServlet</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>Inicio</servlet-name>
	<url-pattern>/</url-pattern>
</servlet-mapping>

<servlet>
	<servlet-name>Mascota</servlet-name>
	<servlet-class>org.example.webapp.MascotaServlet</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>Mascota</servlet-name>
	<url-pattern>/mascota.do</url-pattern>
</servlet-mapping>

<servlet>
	<servlet-name>MascotaIndex</servlet-name>
	<servlet-class>org.example.webapp.mascota.MascotaIndexServlet</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>MascotaIndex</servlet-name>
	<url-pattern>/mascota/index.do</url-pattern>
</servlet-mapping>

<servlet>
	<servlet-name>MascotaDesc</servlet-name>
	<servlet-class>org.example.webapp.mascota.MascotaDescServlet</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>MascotaDesc</servlet-name>
	<url-pattern>/mascota/desc.do</url-pattern>
</servlet-mapping>

</web-app>
